@import "reset.css";

*{color: #fff;}

body{
  display: flex; flex-direction: column; align-items: center;
}
img{
  display: block; width: 100%; height: 100%;
  position: fixed; top: 0; left: 0; z-index: -3;
  object-fit: cover;
}
#login-form{
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}
#login-form input{
  border: none;
  outline: none;
}
#login-form input::placeholder{
  color: #fff;
}

#login-form input:not([type="submit"]){
  border-bottom: 4px solid rgba(255, 255, 255, 0.6);
  transition: border-color 0.3s ease-in-out;
  font-size: 18px;  
  width: 100%;
  height:40px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  box-sizing: border-box;
}
#login-form input:focus {
  border-color: rgba(255, 255, 255, 1);
}
#login-form input:last-child {
  border: 1px solid #fff;
  padding: 1% 4%;
  border-radius: 25px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 10px;
  cursor: pointer;
}
#greeting{
  font-size: 42px;
  font-weight: normal;
  margin-bottom: 20px;
}
#todo-form{
  width: 30%;
}
#todo-form input{
  border: none;
  outline: none;
}
#todo-form input::placeholder{
  color: #fff;
}

#todo-form input:not([type="submit"]){
  border-bottom: 4px solid rgba(255, 255, 255, 0.6);
  transition: border-color 0.3s ease-in-out;
  font-size: 18px;  
  width: 100%;
  height:40px;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 15px;
  text-align: center;
  box-sizing: border-box;
}
#todo-form input:focus {
  border-color: rgba(255, 255, 255, 1);
}
#todo-list-wrap{
  width: 30%; height: 300px; overflow: auto;
  padding-left: 2%;
}
#todo-list input{
  margin-right: 5px;
  width: 18px; height: 18px;
}
#todo-list span{
  display: inline; padding:4px 8px; transition:all .4s;
  outline: 0; box-sizing: border-box;
}

#todo-list span:focus{
  border-bottom: 3px solid #fff; box-sizing: border-box;
}
#delBtn{
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 27px;
  vertical-align: middle;
  margin-right: 5px;
}
#editBtn {
  width: 30px;
  height: 30px;
  font-size: 30px;
}
.checkToDo{
  text-decoration: line-through ;
}
#weather{
  position: absolute; right: 2%; top: 2%;
  background: rgba(0,0,0,0.1);
  padding: 8px;
}
#day{
  padding-top: 8%;
  font-size: 150%;
}
#clock{
  font-size: 500%;
  font-weight: 700;
  margin-bottom: 15px;
}
#quote{
  position:absolute;
  left:50%; 
  bottom: 5%;
  transform:translate(-50%, -5%);
  background:rgba(0,0,0,0.4);
  width:80%;
  text-align: center;
  font-size: 1.5rem;
}
button{
  height:20px;
  width: 20px;
  font-size: 26px;
  font-weight:700;
  background-color: rgb(255,255,255,0);
  border: none;
  color: #fff;
  cursor: pointer;
}

li{
  font-size: 30px;
  font-weight:500;
  margin-bottom: 5px;
}
.hidden {
  display: none !important;
}